* {
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/564x/0a/ed/b2/0aedb25871446d48037414049f2e23be.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.top-header {
  background-color: #b7a99a;
}

.glide-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.glide__slide {
  border: 20px solid black;
}

.glide__slide img {
  width: 50%;
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.custom-img {
  width: 50%;
  height: 50%;
}

.custom-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

a:hover {
  background-color: gray;
  border-radius: 10%;
  text-decoration: none;
}

.fab,
.fas,
.copyright {
  color: #fff0f5;
}

.fa-arrow-left,
.fa-arrow-right {
  color: black;
}

.text-center {
  letter-spacing: 3px;
}

.card-info {
  font-size: 50px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.card-info:hover {
  text-decoration: none;
  color: black;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    /* url("images/iman-image.jpeg"); */

  height: 60%;

  background-position: right;
  background-repeat: no-repeat;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}

/* media query for responsive layout */
@media screen and (max-width: 800px) {
  .hero-text {
    font-size: 15px;
    top: 60%;
  }
  .glide__slide img {
    width: 40%;
  }
  .card-info {
    font-size: 20px;
  }
  .glide__slide {
    border: 10px solid black;
  }
}
