* {
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: red;
  width: 50%;
  min-height: 100vh;
}
ul {
  display: flex;
  justify-content: center;
}
.glide__slide img {
  width: 50%;
}

.my-image {
  border-radius: 30px;
}

.custom-header {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

a:hover {
  background-color: gray;
  border-radius: 10%;
}
